body{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    grid-gap:7px;
}

.grid-item{
    height: 140px;
    color: white;
    text-align: center;
    background-image: url('img/background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;
}

.grid-item:hover{
    background-image: url('img/ocean.jpg');
    transition: 500ms;
    color:black
}

.month{
    height: 80px;
    grid-column-start: 1;
    grid-column-end: end;
    text-align: center;
    text-justify: auto;
    font-size: 60px;
}

.day{
    height: 80px;
}

.grid-item:nth-of-type(9){
    grid-column-start: 2;
}



